<ol>
  Available commands:
{{#listOneIndent commands}}<strong> {{command}}</strong> {{description}}
{{#if subcommands}}
{{#listTwoIndent subcommands}}<strong> {{name}}</strong> {{description}}
{{/listTwoIndent}}
{{/if}}
{{/listOneIndent}}
</ol>
